.title-container {
  display: flex;
  justify-content: space-between;
}

.edit-link {
  color: blue;
  cursor: pointer;
}

.edit-link:hover {
  text-decoration: underline;
}

.item-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.item-link {
  text-decoration: none;
  color: black;
}

.item-link:hover {
  text-decoration: none;
  color: black;
}

.card-size {
  width: 18rem;
}

@media (min-width: 992px) and  (max-width: 1284px) {
  .card-size {
    width: 14rem;
  }
}