.item-container {
  margin: 2rem;
  display: flex;
}

.item-image-container {
  display: flex;
  gap: 2rem;
}

.item-preview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-border {
  border: 3px solid black;
}
