.item-container {
  margin: 2rem;
  display: flex;
}

.item-image-container-1 {
  border: 1px solid #878787;
  border-radius: 0.5rem;
  height: fit-content;
  padding: 1rem;
}

.item-image-container-2 {
  display: flex;
  gap: 2rem;
}

.item-images-container {
  display: flex;
  align-items: center;
}

.item-preview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-image {
  border: 1px solid black;
}

.image-border {
  border: 2px solid black;
}

.item-image-container-3 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.item-data-container {
  display: flex;
  width: 100%;
  margin-left: 2rem;
  flex-direction: column;
  border: 1px solid #878787;
  padding: 1rem;
  border-radius: 0.5rem;
}

.item-description-container {
  display: flex;
}

.item-description-container > p {
  margin: 0;
}

.item-description-heading {
  font-weight: 600;
}

.item-description {
  margin-left: 1rem !important;
}

.item-rating-container {
  display: flex;
}

.item-rating-container > p {
  margin: 0;
  color: #878787;
}

.item-review-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
