.cancel-button-container {
  position: absolute;
  top: -0.4rem;
  right: -0.5rem;
  background-color: red;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.cancel-button-text {
  text-align: center;
  margin-bottom: 0;
}

.cancel-button-container:hover {
  background-color: #e34234;
}
