.add-items-form {
  margin-left: 2rem;
  margin-right: 2rem;
}

.button-container {
  display: flex;
  margin-right: 0.7rem;
}

.category-button-container {
  position: relative;
}

.category-button {
  background-color: rgb(13, 202, 240);
  border: 0.5px solid black;
  border-radius: 0.2rem;
  color: white;
  padding: 0.2rem;
  cursor: default !important;
}

.no-category-added-text {
  color: red;
}

.red {
  color: red;
}

.green {
  color: green;
}

.input-file-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.link {
  color: rgb(13, 110, 253);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.store-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.store-change-name-link {
  color: rgb(13, 110, 253);
  cursor: pointer;
}

.store-change-name-link:hover {
  text-decoration: underline;
}
